.App {
  text-align: center;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

/* SECTIONS */
section {
  border: solid red;
}

/* PRODUCT */
.product {
  border: solid black;
  max-width: 1000px;
  margin: 0 auto;
}
